@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");

:root {
  --primary-color: #ff511a;
  --secondary-color: #43ba7f;
  --text-color: #212741;
  --bg-color: #fff;
  --link-color: #e36402;
  --dark-bg-color: #181d30;
}

body {
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}

::selection{
    background-color: var(--primary-color);
    color: var(--bg-color);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #e6e3e3;
}

::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary-color);
}

/* --------------------------------------------------navbar  */

header {
  background-color: rgb(116, 113, 113);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo img {
  height: 5rem;
  border-radius: 50%;
}

.navlist {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlist li {
  padding: 0 1rem;
}

.navlist li a {
  color: var(--bg-color);
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
}

.navlist li a:hover,
.navlist li a.active {
  color: var(--link-color);
}

.hamburger-menu {
  display: none;
}

/*--------------------------------------------------- hero section */

.hero {
  background-image: url(../assets/images/hero-bg.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: slide-in 2s ease-out forwards;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text {
  width: 50%;
  padding-top: 2rem;
  padding-left: 1rem;
}

.hero-text h2 {
  font-size: 3.5rem;
  color: var(--bg-color);
  font-weight: 700;
  line-height: 4.375rem;
  margin-bottom: 2.5rem;
}

.hero-text h2 em {
  font-style: normal;
  color: var(--primary-color);
}

.divider {
  width: 5rem;
  height: 0.375rem;
  border-radius: 0.1875rem;
  background-color: var(--bg-color);
  margin-bottom: 2.5rem;
}

.hero-text p {
  color: var(--bg-color);
  margin-right: 3.75rem;
  margin-bottom: 3.125rem;
}

/* ------------------------------section headings----------------- */

.section-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.section-heading h6 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 700;
}

.section-heading h4 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-color);
}

/* -----------------------------------------------------services----------- */
.service-item {
  border-radius: 10px;
  padding: 2.5rem;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  width: 95%;
}

.service-item h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.service-item p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--primary-color);
}

.service-item i {
  transition: all 0.5;
  float: right;
  font-size: 4rem;
  color: var(--primary-color);
  margin-top: 2rem;
  margin-left: 1rem;
  /* margin-right: -8%; */
}

.services i:hover {
  margin-top: 1rem;
}

/* ----------------------------------------------Banner----- */

.banner {
  background-image: url(../assets/images/banner-bg.jpg);
  background-size: cover;
  padding: 5rem 0;
  margin-top: 2%;
}

.banner .buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.banner h4 {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--bg-color);
  line-height: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.banner h4 em {
  font-style: normal;
  color: var(--secondary-color);
}

.banner h4 strong {
  color: var(--primary-color);
  font-weight: 700;
}

.btn a {
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  transition: all 0.3;
  text-decoration: none;
}

.btn a:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.btn1 a {
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.btn2 a {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

/* ----------------------------------------------------about us-- */

.about-us {
  margin-top: 3%;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.course-list {
  margin-top: 5.125rem;
  list-style: none;
  padding: 0;
}

.course-list li {
  display: flex;
  padding: 1rem;
}

.course-list li span {
  flex: 1;
  font-size: 0.9375rem;
  color: var(--text-color);
}

.list-head span {
  font-weight: 600;
}

.item-title {
  color: var(--secondary-color) !important;
  font-weight: 600 !important;
}

/* ----------------------------------------------learning---- */

.learningplanContainer{
  background-image: url(../assets/images/plan-bg.png);
  background-size: cover;
  margin: 4% auto;
}
.learningContainer {
    width: 100%;
}

.learningContainer div img {
  width: 60%;
}

.learningform {
  padding: 1rem;
  width: 40%;
  margin-top: 3%;
}

.learningform form input,
.learningform form select {
  background-color: var(--text-color);
  border: none;
  color: var(--bg-color);
}

.learningform form button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  padding-top: 0.5rem;
  margin-top: 2%;
}

.learningform .section-heading h4 {
  color: var(--bg-color) !important;
}

/* -----------------------------------------------testimonials */

.testimonials {
  margin-top: 1%;
  width: 95%;
  margin-left: 1.7rem;
}

.testimonial-card {
  display: flex;
  background-color: var(--bg-color);
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(74, 13, 13, 0.1);
  padding: 2rem;
  margin: 2rem 0;
  border: 2px solid rgba(241, 230, 230);
}

.testimonial-card .content {
  flex: 1;
}

.testimonial-card i {
  font-size: 3vw;
  color: #fff;
  background-color: #ff6347;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.testimonial-card p {
  font-size: 1.4vw;
  font-style: italic;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.testimonial-card h4 {
  font-size: 1.6vh;
  font-weight: 600;
  color: var(--dark-bg-color);
  margin-bottom: 0.5rem;
}

.testimonial-card .subtitle {
  font-size: 1.2vw;
  color: var(--primary-color);
}

.testimonial-card .image-container {
  width: 20%;
  /* height: 50%; */
  /* overflow: hidden; */
  border-radius: 10px;
}

.testimonial-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev {
  left: -10%;
}

.carousel-control-next {
  right: -10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

/* contact us */

.contactuscontainer {
  margin-top: 2%;
}

.contactmap {
  position: relative;
}
.contactmap iframe {
  width: 100%;
  height: 80vh;
}

.contactmap .mapcards {
  width: 96%;
  height: 200px;
  position: absolute;
  bottom: -15%;
  margin-left: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contactmap .mapcards .card {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2%;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 15px rgba(74, 13, 13, 0.1);
}

.contactmap .mapcards .card i {
  font-size: 2rem;
  color: var(--secondary-color);
}

.contactmap .mapcards .card p {
  color: var(--secondary-color);
}

.contactmap .mapcards .card:hover {
  transition: all 0.3s;
  margin-top: -3%;
}

.contactmap .mapcards .card:hover p {
  color: var(--link-color);
}

/* ---------------------------------------inquery */

.inqueryContainer {
  margin-top: 9rem;
}

.inqueryContainer .Inqueryform {
  width: 60%;
  margin: 0 auto;
}

.Inqueryform form input,
.Inqueryform form textarea {
  background-color: rgb(219, 217, 217);
}

.Inqueryform form button {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

/* -------------------------------------------footer */
.footerContainer{
    background-color: var(--dark-bg-color);
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.footerContainer p {
    font-size: 1.25rem;
    color: var(--bg-color);
}

.footerContainer p span{
    color: var(--primary-color);
}

/*------------------------------------------------------ media */

@media (max-width: 990px) {
  /* hero */
  .hero {
    padding: 4rem;
  }

  .hero-text {
    width: 90%;
    text-align: center;
  }

  .hero-text h2 {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .divider {
    margin: 1rem auto;
  }

  .hero-text p {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  /* learning */
  .learningimagecontainer{
    display: none;
  }

  .learningform{
    width: 100%;
  }
  /* contact */
  .contactmap .mapcards .card {
    width: 50%;
  }

  /* inquery */
  .inqueryContainer {
    margin-top: 10%;
  }

  .inqueryContainer .Inqueryform {
    width: 80%;
  }
}
/* -------------------------------------768px */
@media (max-width: 768px) {
  /* header */
  .logo img {
    height: 4rem;
  }

  .navlist li a {
    font-size: 0.8rem;
    white-space: nowrap;
  }
  /* hero */
  .divider {
    width: 12rem;
  }

  /* services */
  .service-item {
    width: 100%;
    height: auto;
    padding: 05rem;
  }

  .service-item i {
    float: none;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  /* learning */
  .learningContainer .learningimagecontainer {
    display: none;
  }

  .learningform {
    width: 90%;
    margin: 1rem auto;
  }

  /* contact */

  .contactmap .mapcards {
    position: relative;
    gap: 1rem;
    bottom: 0;
    flex-direction: column;
  }

  .contactmap .mapcards .card {
    width: 50%;
  }

  .contactmap .mapcards .card:hover {
    margin-top: 0;
  }

  /* inquery */

  .inqueryContainer {
    margin-top: 50%;
  }

  .inqueryContainer .Inqueryform {
    width: 80%;
  }
}

/* ---------------------------------------560px */
@media (max-width: 560px) {
  /* hide navigation link */
  .navlist {
    display: none;
  }

  /* Show hamburger menu */
  .hamburger-menu {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  /* hero */
  .divider,
  .hero-text p {
    display: none;
  }

  /* About Us */
  .course-list li {
    flex-direction: column;
  }
}
